<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015. Simas Abramovas
  ~
  ~ This file is part of VideoClipper.
  ~
  ~ VideoClipper is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ VideoClipper is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with VideoClipper. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simas.vc">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--ToDo android:multiArch="true"-->
    <application
        android:name="com.simas.vc.VC"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.simas.vc.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Activity is started in another task so when removed from history and recents, doesn't
            interfere with the application-->
        <activity
            android:name=".background_tasks.ProgressActivity"
            android:label="@string/vc_working"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".VCProgress">
        </activity>

        <service
            android:name=".background_tasks.FFmpegService"
            android:exported="false"/>
    </application>

</manifest>
